<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=Shop;user id=user;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MQ4HUQ0\SQLEXPRESS;initial catalog=Shop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GIGABYTE\MSSQLSERVER04;initial catalog=Shop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities1" connectionString="metadata=res://*/Connection.Model1.csdl|res://*/Connection.Model1.ssdl|res://*/Connection.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MQ4HUQ0\SQLEXPRESS;initial catalog=Shop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>